
.meni {
	width: 80%;
	margin:auto;
	background-color:#333;
	text-align:center;
	margin-top: 50px;
}

.logo {
	border:2px solid #333;
	width: 150px;
	height: auto;
	position: relative;
	top:-50px;
	margin:0;
}

.meni ul {
	font-family: Arial, Helvetica, sans-serif;
	margin:0 0;
	padding: 0;
	list-style: none;
	position: relative;
	top:-30px;
}

.meni li{
	display: inline;
	margin:3.8% ;
}

.meni a {
	text-decoration: none;
	display: inline;
	color: #fff;
}

.sadrzaj {
	width: 80%;
	margin:auto;
	margin-top:1em;
	padding: 1em 0;
    background-color: #333;
    text-align: center;
}

.polje {  
    margin-bottom:2%;
}

.polje label {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 150px;
}
.polje input {
    width: 30%;
    border: 1px solid black;
    text-align: left;
}

#unos {
    
    width:100px;
    font-weight:bold ;
    text-align: center;
    height:30px;
}

@media only screen and (max-width: 600px) {
	.meni li{
		display: block;
		margin: 0.5em;
    }
    
    .polje{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .polje input {
        width:150px;
    }
  }




