<html>
    <head>
        <title>Galen Page Dump</title>
        <link rel="stylesheet" type="text/css" href="galen-report.css"/>
        <script src="vue.js"></script>
        <script src="galen-report.js"></script>
        <script>
            var pageData = {"title":"Document","items":{"meni":{"area":[8,176,1251,36],"hasImage":true},"viewport":{"area":[0,0,1267,732],"hasImage":true},"logo":{"area":[582,10,102,100],"hasImage":true},"screen":{"area":[0,0,1267,1451],"hasImage":true},"slike":{"area":[191,248,288,286],"hasImage":true}},"pageName":"http://localhost/pocetna.html"};
        </script>
    </head>

    <body class="page-dump">
        <div id="app">
            <div class="page-dump-canvas-wrapper">
                <img class="screenshot" src="page.png" v-bind:style="{left: offsetLeft, top: offsetTop}"/>
                <svg id="canvas" v-bind:width="canvasWidth + 'px'" v-bind:height="canvasHeight + 'px'">
                    <g v-for="object in objects" v-if="searchFilter === '' || object.name.indexOf(searchFilter) >= 0">
                        <rect
                            v-if="object.selected"
                            v-bind:x="object.area.x + offsetLeft"
                            v-bind:y="object.area.y + offsetTop"
                            v-bind:width="object.area.width"
                            v-bind:height="object.area.height"
                            style="opacity: 0.2"
                            v-bind:style="{'fill': '#ff8200', 'stroke-width': 0}"/>
                        <rect
                            v-bind:class="{selected: object.selected}"
                            v-bind:x="object.area.x + offsetLeft"
                            v-bind:y="object.area.y + offsetTop"
                            v-bind:width="object.area.width"
                            v-bind:height="object.area.height"
                            style="opacity: 0.8"
                            v-bind:style="{'fill': 'none', 'stroke-width': 1}"/>
                        <g v-if="object.caption || object.selected">
                            <rect
                                v-bind:class="{selected: object.selected}"
                                v-bind:x="object.area.x + offsetLeft"
                                v-bind:y="object.area.y - 20 + offsetTop"
                                v-bind:width="object.name.length * 15 + 10"
                                v-bind:height="20"
                                style="opacity: 0.8; stroke-width: 0; stroke: none;"
                                v-bind:style="{fill: object.color}"/>
                            <text
                                v-bind:x="object.area.x + 5 + offsetLeft"
                                v-bind:y="object.area.y - 5 + offsetTop"
                                fill="#ffffff"
                                font-weight="bold"
                                font-family="helvetica"
                                font-size="15px"
                                >{{object.name}}</text>
                        </g>
                    </g>

                    <g v-for="object in objects" v-if="searchFilter === '' || object.name.indexOf(searchFilter) >= 0">
                        <rect
                            v-on:mousedown="onObjectClick(object)"
                            v-on:mouseover="onObjectMouseOver(object)"
                            v-on:mouseleave="onObjectMouseOut(object)"
                            v-bind:x="object.area.x + offsetLeft"
                            v-bind:y="object.area.y + offsetTop"
                            v-bind:width="object.area.width"
                            v-bind:height="object.area.height"
                            style="opacity: 0.0"
                            v-bind:style="{'fill': '#ffffff'}"/>
                    </g>
                    <g class="guide" v-for="guideElements in guides">
                        <g v-for="guide in guideElements">
                            <line class="meta-line-guide" v-if="guide.type === 'line'"
                                v-bind:x1="guide.x1 + offsetLeft"
                                v-bind:y1="guide.y1 + offsetTop"
                                v-bind:x2="guide.x2 + offsetLeft"
                                v-bind:y2="guide.y2 + offsetTop"/>

                            <g v-if="guide.type === 'text'">
                                <text class="meta-text"
                                    v-bind:x="guide.x + offsetLeft"
                                    v-bind:y="guide.y + offsetTop"
                                    v-bind:transform="guide.vertical ? 'rotate(-90,' + (guide.x + offsetLeft) + ', ' + (guide.y + offsetTop) +')': 'rotate(0)'"
                                    >{{guide.text}}</text>
                            </g>
                        </g>
                    </g>

                </svg>
            </div>
            <div id="page-dump-right-panel">
                <input v-model="searchFilter" type="text" placeholder="Search ..."/>
                <ul class="objects">
                    <li v-for="objectName in objectNames" v-if="searchFilter === '' || objectName.indexOf(searchFilter) >= 0">
                        <span
                            v-on:click="onObjectClick(objectsMap[objectName])"
                            v-bind:class="{selected: objectsMap[objectName].selected}"
                            >{{objectName}}</span>
                    </li>
                </ul>
            </div>
            <div id="page-dump-top-panel">
                <h3>{{title}} {{pageName}}</h3>
            </div>
            <div id="page-dump-bottom-panel">
                <div v-if="selection.length > 0">
                    <table>
                        <tr>
                            <td v-for="object in selection">
                                <h4>{{object.name}}</h4>
                                <div>
                                    width: {{object.area.width}}px,
                                    height: {{object.area.height}}px,
                                    left: {{object.area.x}},
                                    top: {{object.area.y}}
                                </div>
                                <div v-if="object.hasImage">
                                    <a class="link" v-bind:href="'objects/' + object.name + '.png'" target="_blank">Object Image</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <script>renderPageDump(pageData);</script>
    </body>
</html>
