
*{
	box-sizing: border-box;
}
body{
	padding: 10px;
	margin: 0 auto;
	
}

.meni{
	background-color: #86abf9;
	margin: 0 auto;
	
	width: 100%;
	position: absolute;
	left:0px;
	top: 75px;
	
}
.logo{
	margin: 0 auto;	
	
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 0;
}
#slikaLoga{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.sadrzaj{
	background-color: #86abf9;
	height: 75%;
	width: 100%;
	margin: 0 auto;	
	padding: 10px;
	padding-bottom: 0px;
	overflow: scroll;
	
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.tabelaSala{
	padding: 10px;
	margin: 0 auto;
	width: 80%;
}
.headerSprat{
  padding: 10px;
  background-color: gray;
  text-align: center;
}
.headerRedni{
	padding: 10px;
  background-color: silver;
  text-align: left;
}
.slobodnaSala{
	padding: 10px;
	background-color: green;
}
.zauzetaSala{
	padding: 10px;
	background-color: orange;
}
.sala{
	padding: 10px;
	background-color: white;
}
.kancelarija{
	background-color: #adc3c7;
}

#lista{
	list-style-type: none;
}
#lista li{
	font-size: 15px;
	display: inline-block;
	padding: 20px;
}
#lista a{
	color: black;
}

#roditelj{
	height: 30%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}
@media (max-width: 950px){
	#slikaLoga{
		transform: scale(0.5);
	}
}
@media (max-width :600px){
	 .headerRedni{
		 display: none;
	 }
	 .headerSprat{
		 display: none;
	 }
	 #lista li{
		 display: block;
	 }
	.sadrzaj{
		height: 40%;
	}
	
 }

 
