#novemb{
    font-weight:bold;
    font-size:19px;
    margin-bottom: -10px;
}
.dani li {
    border: 1.5px solid blue;
    padding-right:32px;
    display:inline-block;
    margin-right:48px;
    font-size:18px;
    max-width:12px;
    margin-left:-39.5px;
    list-style-type: none;
    margin-top:-60px;
    
}
.dani {
    text-align:center;
    margin-left: 0.9px;
}
li {
    text-align :center;
    margin-left:3px;
}

button[type=submit]{
   margin-left:420px;
   border-style:solid;
   border-width:2px; 
   font-size: 18px;
   border-color:blue;
   padding: 10px;
   background-color: lightblue;
   width:100px;
}
button[type = button]{
    margin-left:283px;
   border-style:solid;
   border-width:2px; 
   font-size: 18px;
   border-color:blue;
   padding: 10px;
   padding-right:35px;
   width:100px;
   background-color: lightblue;
   text-align:center;
}
.sadrzaj {
    border-style:solid;
    border-width:1.5px;
    border-color:rgb(156, 156, 156);
    padding:15px;
    margin-right:32%;
    background-color:lightblue;
    height:100%;
    margin-left:420px;
    border-color:blue;
}
.sadrzaj p {
    margin-top:-8px;
}
#poc {
    margin-top:5px;
    margin-left:20px;
}
#kr {
    margin-top:5px;
    margin-left:42px;
}

.broj {
    border:1.5px solid blue;
    padding: 2px;
    padding-right:22.5px;
    padding-left: 22.5px;
    font-size:15px;
    margin-right:91%;
    border-bottom:0.5px;
    background-color:white;
    text-align:justify;
    text-align-last: center;
   
}
.grid-item1 .broj { 
    text-align:center;
}
.boja {
    border:1.5px solid blue;
    padding: 7px;
    padding-right:38px;
    margin-right:90%;
}
.slobodna {
    background-color:green;
}
.zauzeta{
    background-color:red;
}

#PRVIDAN{
    margin-left:239px;
}

#DRUGI {
    margin-left:2px;
    margin-left:-6.5px;
}
.drugi_red {
    margin-left:-5px;
}
#D {
    margin-left:-17.4px;
}

.grid-item1 {
    margin-left:-10px;
    display:inline-block;
    padding:5px;
    padding-right:7px;
}

.dropdown {
    margin-top:-25px;
    margin-left:  auto;
    margin-right:  auto;
    width:100%;
}

.meni {
    padding:15px;
    background-color:lightblue;
    margin-top: -5px;
    margin-top: 35px;
    padding-top:60px;
    padding-left:28%;
} 
.meni #nepodvucen {
    text-decoration:none;
}

.meni a {
  text-align: center;
  font-size:17px;
  margin-left: 50px;
}
.logo {
    height:50%;
    margin-top:-10px;
    height:25px;
    width:30px;
    margin-left: 48%;
    top:0%;
    position:absolute;
    padding-top:3px;
    padding-bottom:3px;
}

@media screen and (max-width:600px){
    #novemb{
        margin-bottom: 30px;
    }
    #pon {
        margin-left: 10px;
    }
    .dani li {
        margin: auto;        
        margin-left: 10px;
        padding-bottom: 9px;
        margin-bottom: 10px;
        display:block;
        padding-top: 5px;
    }
    .sadrzaj {
        width:100%;
        margin: auto;
    }
    .grid-item1{
        display:block;
        margin:auto;
        margin-left: 200px;
    }
    #PRVIDAN {
        margin-top: -365px;
        margin-left:200px;
    }
    #D,#izbaci {
        display:none;
    }
    #DRUGI {
        margin-left: 200px;
        margin-top: -5px;
        display: inline-block;
        padding-top: 10px;
    }
    #peti {
        margin-top:-5px;
        margin-left: 200px;
    }

    button[type = button]{
        margin-left:262px;
    }
    button[type = submit]{
        margin-left:0px;
    }
    .meni a {
        display:block;
    }

}

