* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.meni {
    margin-top: 43px;
    background-color: #3495eb;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

.meni li {
    display: inline;
    margin: 0px 20px;
}

.meni a {
    color: #4f5253;
}

.meni a:hover {
    color: white;
}

.trenutna {
    text-decoration: none;
}

.logo img {
    transform: translateY(-50%);
    border: 2px solid #4f5253;
}

.sadrzaj {
    background-color: #3495eb;
}

.galerija {
    max-width: 1200px;
    margin: 30px auto 0px auto;
    padding: 30px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.sadrzaj img {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid white;
}

@media screen and (max-width: 600px) {
    .meni li {
        display: block;
    }

    .sadrzaj img {
        width: 240px;
        height: 240px;
    }
}
