* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.meni {
    margin-top: 43px;
    background-color: #3495eb;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

.meni li {
    display: inline;
    margin: 0px 20px;
}

.meni a {
    color: #4f5253;
}

.meni a:hover {
    color: white;
}

.trenutna {
    text-decoration: none;
}

.logo img {
    transform: translateY(-50%);
    border: 2px solid #4f5253;
}

.sadrzaj {
    background-color: #3495eb;
    padding: 20px 0px;
}

form {
    width: 450px;
    margin: auto;
    padding: 20px 30px 20px 50px;
    background-color: #93c0e7;
    border: 2px solid #46627a;
    display: grid;
    grid-template-columns: 7fr 6fr 1fr;
}

label,
input,
select {
    margin: 4px 0px;
}

label {
    font-size: 16px;
}

.kalendar {
    width: 550px;
    margin: auto;
    background-color: #93c0e7;
    border: 2px solid #46627a;
    display: grid;
    margin-top: 20px;
    padding: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
}

.kalendar h2 {
    grid-column: span 7;
    justify-self: start;
}

.prazan1 {
    grid-column: span 4;
}

.dan {
    width: 80%;
    border: 3px solid #46627a;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}

.slobodna,
.zauzeta {
    width: 80%;
    border: 3px solid #46627a;
    text-align: center;
}

.slobodna div {
    background-color: rgb(76, 221, 76);
    height: 20px;
    border-top: 3px solid #46627a;
}

.zauzeta div {
    background-color: rgb(238, 69, 69);
    height: 20px;
    border-top: 3px solid #46627a;
}

.slobodna p {
    background-color: white;
    padding: 4px;
    font-weight: bold;
}
.zauzeta p {
    background-color: white;
    padding: 4px;
    font-weight: bold;
}

.dugmad {
    padding: 20px 0px;
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dugmad button {
    background-color: #93c0e7;
    border: 2px solid #46627a;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.dugmad button:hover {
    background-color: #6da3d1;
}

.sakri{
    display: none;
}

@media screen and (max-width: 600px) {
    .meni li {
        display: block;
    }

    form {
        width: 80%;
    }

    .kalendar {
        max-width: 80%;
        margin: 30px auto 0px auto;
        padding: 30px 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-gap: 20px;
        justify-items: center;
    }

    .slobodna,
    .zauzeta {
        display: none;
    }

    .pon {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .uto {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .sri {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .cet {
        grid-column-start: 1;
        grid-row-start: 5;
    }

    .pet {
        grid-column-start: 1;
        grid-row-start: 6;
    }

    .sub {
        grid-column-start: 1;
        grid-row-start: 7;
    }

    .ned {
        grid-column-start: 1;
        grid-row-start: 8;
    }

    .cetvrti {
        grid-column-start: 2;
        grid-row-start: 2;
        display: block;
    }

    .peti {
        grid-column-start: 2;
        grid-row-start: 3;
        display: block;
    }

    .sesti {
        grid-column-start: 2;
        grid-row-start: 4;
        display: block;
    }
    .sedmi {
        grid-column-start: 2;
        grid-row-start: 5;
        display: block;
    }
    .osmi {
        grid-column-start: 2;
        grid-row-start: 6;
        display: block;
    }
    .deveti {
        grid-column-start: 2;
        grid-row-start: 7;
        display: block;
    }

    .deseti {
        grid-column-start: 2;
        grid-row-start: 8;
        display: block;
    }

    .dugmad {
        width: 80%;
    }
}
