* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.meni {
    margin-top: 43px;
    background-color: #3495eb;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

.meni li {
    display: inline;
    margin: 0px 20px;
}

.meni a {
    color: #4f5253;
}

.meni a:hover {
    color: white;
}

.trenutna {
    text-decoration: none;
}

.logo img {
    transform: translateY(-50%);
    border: 2px solid #4f5253;
}

.sadrzaj {
    background-color: #3495eb;
    text-align: center;
    padding: 30px 0px;
    text-align: center;
}

.tabelaSala {
    margin: auto;
    border-collapse: collapse;
}

.headerSprat {
    background-color: #cad2d8;
    border: 2px solid #4f5253;
    border-bottom: none;
    width: 60px;
    height: 70px;
    font-weight: 800;
    font-size: 18px;
}

.headerRedni {
    background-color: #e9eef1;
    height: 60px;
    width: 90px;
    border: 2px solid #4f5253;
    border-right: none;
}

.sala {
    background-color: white;
    border: 2px solid #4f5253;
    width: 60px;
    height: 60px;
}

.slobodnaSala {
    background-color: rgb(76, 221, 76);
}

.zauzetaSala {
    background-color: rgb(238, 69, 69);
}

.kancelarija {
    background-color: rgb(170, 155, 155);
}

@media screen and (max-width: 600px) {
    .meni li {
        display: block;
    }

    .headerSprat {
        display: none;
    }

    .headerRedni {
        display: none;
    }
}
