* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.meni {
    margin-top: 43px;
    background-color: #3495eb;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

.meni li {
    display: inline;
    margin: 0px 20px;
}

.meni a {
    color: #4f5253;
}

.meni a:hover {
    color: white;
}

.trenutna {
    text-decoration: none;
}

.logo img {
    transform: translateY(-50%);
    border: 2px solid #4f5253;
}

.sadrzaj {
    background-color: #3495eb;
    padding: 20px;
}

form {
    width: 500px;
    margin: auto;
    padding: 20px 60px;
    border: 2px solid #46627a;
    background-color: #93c0e7;
}

label {
    display: block;
    float: left;
}

input,
label {
    width: 50%;
    margin: 5px 0px;
    padding: 2px 0px;
}

@media screen and (max-width: 600px) {
    .meni li {
        display: block;
    }
    form {
        width: 80%;
    }
    label {
        float: none;
        margin: 0px;
        width: 80%;
    }
    input {
        margin: 0px 0px 5px 0px;
        width: 100%;
    }
}
