.meni li{
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 15%;
    top: 0;
    display:inline-block;
   }
   
.meni{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    background-color: rgb(65,105,225);
}


a{
  color: rgb(0, 0, 0);
}

#id{
  text-decoration: none;
}

.logo{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 0;
    left: 48%;
    transform: translateY(-90%);
}

.sadrzaj{
    background-color: rgb(65,105,225);
    height: 900px;
    position: relative;
    margin-top: 30px;
    width:825px;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  #elementi{
   margin:0 auto;
   display: grid;
   align-items: center;
   grid-gap: 1em;
   grid-template-columns: repeat(3, 240px);
   padding: 20px 20px 20px 20px;
  
  }

  .grid-box{
    padding: 5px ;
  }

  .slike{
    width: 250px;
    height: 188px;
  }

  @media only screen and (max-width: 805px) {
    #elementi{
     grid-template-columns: repeat(2, 240px);
     }

     .sadrzaj{
      height: 1120px;
     }

  }

  @media only screen and (max-width: 600px) {

    #elementi{
      grid-template-columns: repeat(1, 240px);
      }

    .meni li{
        margin-top: 0px;
        margin-right: 4%;
        display: block;
       }
       
       .meni{
        height: 100px;
        width: 600px;
      }
    
    .logo{
        transform: translateY(-50%);
    }
    
    .sadrzaj{
        
        height: 2200px;
        width:600px;
    }

    .slike{
      width: 200px;
      height: 150.4px;
    }
  }