.meni li{
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 15%;
    top: 0;
    display:inline-block;
   }
   
.meni{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    background-color: rgb(65,105,225);

}

a{
    color: rgb(0, 0, 0);
}

#id{
    text-decoration: none;
  }
  


.logo{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 0;
    left: 48%;
    transform: translateY(-90%);
}

.sadrzaj{
    background-color: rgb(65,105,225);
    height: 600px;
    position: relative;
    margin-top: 30px;
    width:825px;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}

.lista{
    padding: 10px;
}

#pocetak{
    margin-top: 11px;
}

#kraj{
    margin-top: 11px;
}

.dugmeS {
    background-color: rgb(127, 179, 247);
    color: rgb(0, 0, 0);
    border: 3px solid #1100ffd5;
    margin-left:20%;
  }
  
  .dugmeS:hover {background-color: #1100ffd5;}
  
  .dugmeP {
    background-color: rgb(127, 179, 247);
    color: black;
    border: 3px solid #1100ffd5;
    display: inline-block;
    margin-top:1%;
  }
  
  .dugmeP:hover {background-color: #1100ffd5;}
  
  .dani{
    border: 3px solid #1100ffd5;
    text-align: center;
    margin-right: 5px;
}

.mjesec{
    text-align: left;
    font-weight: bold;
}

.slobodna{
    background-color: rgb(0, 255, 76);
}

.zauzeta{
    background-color: rgb(219, 20, 60);
}

table .tabela2 td {
    border: 3px solid #1100ffd5;
    text-align: center;
    width:35px;
    height: 10px;
}

#prazan {
    border: none;
}

table .tabela2{
    border: 3px solid #1100ffd5;
    border-collapse: collapse;
}

table .tabela1 td{
    margin-left: 10px;
    margin-right: 0px;
}

table .tabela1{
    border: 3px solid #1100ffd5;

    border-spacing: 30px 10px;


}

table .tabela2 td{
    margin-left: 3px;
    border: 3px solid #1100ffd5;
    margin-right: 3px;
}


table {
    border: 5px solid #1100ffd5;
    background-color: rgb(106, 164, 240);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 45px;
    height: 45px;

}


@media only screen and (max-width: 600px) {

    .meni li{
        margin-top: 0px;
        margin-right: 4%;
        display: block;
       }
       
       .meni{
        height: 100px;
        width: 600px;
      }
    
    .logo{
        transform: translateY(-50%);
    }
    
    
    .sadrzaj{
       
        width:600px;
        text-align: left;
    }

    .lista{
        padding: 10px;
        margin-left: 9%;
    }

    #periodicna{
        margin-left: 3%;
    }
    
    #poc{
        margin-left: 7%;
    }

    #kr{
        margin-left: 7%;
    }

    #pocetak{
        margin-top: 11px;
        margin-left: 1%;
    }
    
    #kraj{
        margin-top: 11px;
        margin-left: 4.5%;
    }
    
    .dugmeS {
        margin-left:12%;
      }
      
      
      .dugmeP {
        margin-top: 1%;
        margin-left: 2%;
      }
      
      .dani{
        margin-right: 5px;
        margin-bottom: 11px;
        margin-top: 12px;
    }
    
    table .tabela2 td{
        border: none;
        margin-right: 3px;
        margin-top: 4.7px;
        margin-bottom: 4.7px;
    }
    
    
    table {
        margin-left: 3%;
    }
    .mjesec {display: none;}

    table  tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }
    .tabela2 {
        display: none;
        }

    #zaManjiEkran{
        display: inline-block;
    }
  }

