.meni li{
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 15%;
    top: 0;
    display:inline-block;
   }
   
.meni{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    height: 60px;
    width: 825px;
    background-color: rgb(65,105,225);
}

a{
    color: rgb(0, 0, 0);
  }
  
  #id{
    text-decoration: none;
  }

.logo{
    position: absolute;
    width: 15%;
    height: 50%;
    top: 0;
    left: 48%;
    transform: translateY(-90%);
}

.sadrzaj{
    background-color: rgb(65,105,225);
    height: 541px;
    position: relative;
    margin-top: 30px;
    top: 0;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 2px solid rgba(128, 128, 128, 0.425);
    font-family: sans-serif;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width:30px;
    height: 30px;
}

td.zauzetaSala {
    background-color:rgb(245, 79, 79);
}

td.slobodnaSala {
    background-color:rgb(55, 245, 112);
}

td.kancelarija {
    background-color:rgb(136, 135, 135);
}

#sala{
    background-color: rgb(65,105,225);
    width: 825px;
    margin-left: auto;
    margin-right: auto;
}

.tabelaSala {
    border: 2px solid rgb(77, 73, 73);
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.headerSprat {
    background-color: rgb(128, 128, 128);
    text-align: right;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(201, 200, 200, 0.397);
}

#spratTekst{
    text-align: center;
}

.headerRedni {
    background-color: rgb(128, 128, 128);
    text-align: left;
    width:25%;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(201, 200, 200, 0.397);
}

.prazan{
    background-color: rgb(65,105,225);
    border: 0;
}

@media only screen and (max-width: 600px) {

   
    .meni li{
        margin-top: 0px;
        margin-right: 4%;
        display: block;
       }
       
       .meni{
        height: 100px;
        width: 600px;
      }
    
    .logo{
        transform: translateY(-50%);
    }
    
    
    .sadrzaj{
        height: 410px;
        width:600px;
        text-align: left;
    }
    
    span {
        display: inline-block;
        padding: 10px 10px 0 50px;
    }

    .headerRedni{
        display:none;
    }

    .headerSprat{
        display:none;
    }

    #sala{
        width: 600px;
    }
    td {
        width:1px;
        height: 5px;
        padding: 10px 5px 10px 5px;
    }

    .tabelaSala{
        width: 0.5%;
        padding: 10px 5px 10px 5px;
       
    }

  }