.meni {
    background-color: lightblue;
    width: 66vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;
    margin-top: 2.5rem;
}

.links {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}

.logo img {
    /* position: absolute; */
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    transition: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 55px;
}

body {
    background-color: rgb(236, 248, 253);
}

.sadrzaj {
    margin: auto;
    width: 66vw;
}

.grid-container {
    margin: auto;
    width: 66vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slika {
    width: 305px;
    height: 172px;
    margin-top: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}


/* .red {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66vw;
    margin: auto;
    margin-top: 1rem;
} */

@media only screen and (max-width: 924px) {
    .slika {
        margin: auto;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .slika {
        margin: auto;
        margin-top: 1rem;
        width: 244px;
        height: 137.6px;
    }
}