.logo img {
    /* position: absolute; */
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    transition: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 55px;
}

.meni {
    background-color: lightblue;
    width: 66vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;
    margin-top: 2.5rem;
}

.links {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}

body {
    background-color: rgb(236, 248, 253);
}

.sadrzaj {
    margin: auto;
    width: 90%;
}

.slika {
    width: 305px;
    height: 172px;
    margin-top: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}

form {
    margin-left: 20px;
}

.prethodni {
    background-color: rgba(247, 104, 104, 0.966);
    color: black;
    float: left;
    border-radius: 15px;
    height: 35px;
}

.sljedeci {
    background-color: rgb(72, 255, 66);
    color: black;
    float: right;
    border-radius: 15px;
    height: 35px;
}

.kalendar {
    margin: auto;
    margin-top: 10px;
    width: 60%;
}

.sedmica {
    background-color: rgb(67, 164, 255);
}

.izbori {
    padding: 10px;
    width: 100%;
    float: left;
    min-height: 1px;
}

.forma {
    margin: auto;
    margin-top: 1rem;
    width: 65%;
    border: 1px solid black;
    /* height: 20%; */
    height: 145px;
}

.sedmica li {
    text-align: center;
    display: inline-block;
    width: 13.6%;
    color: white;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size: 12px;
    color: #777;
}

.slobodna {
    border: solid 2px royalblue;
}

.zauzeta {
    border: solid 2px red;
}

.sedmicaTabela {
    display: none;
}

@media screen and (max-width: 1200px) {
    .sadrzaj {
        width: 75vw;
    }
    .kalendar {
        width: 85vw;
    }
}

@media screen and (max-width: 600px) {
    .sedmicaTabela {
        display: inline;
    }
    .meni-ul {
        display: list-item;
    }
    .meni-li {
        width: 100%;
        padding: 5px;
        text-align: left;
    }
    .daniSedmice {
        margin-left: 20px;
        background-color: #ddd;
        width: 100px;
        float: left;
    }
    .daniSedmice ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .wrap {
        width: 200px;
        display: flex;
    }
    .daniSedmice li {
        text-align: center;
        padding-top: 20px;
        width: 100px;
        height: 20px;
        color: #666;
    }
    .naziv-sedmice {
        display: block;
        padding: 5px 50px;
        margin-left: 20px;
        width: 100px;
        color: white;
        font-size: 10px;
        background: rgb(67, 164, 255);
        text-align: center;
    }
    .dani {
        width: 100px;
        background-color: #ddd;
        float: right;
    }
    .dani ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .dani li {
        text-align: center;
        padding: 10px 0;
        width: 100px;
        height: 20px;
        color: #777;
    }
    .kalendar {
        display: none;
    }
    .sedmicaTabela a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 3px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .sedmica a:hover {
        background-color: #ddd;
        color: black;
    }
    .sadrzaj {
        margin-right: 50px;
        margin-top: 20px;
    }
    .sedmicaTabela {
        width: 200px;
    }
    .prethodni {
        background-color: rgba(247, 104, 104, 0.966);
        color: black;
        float: left;
        border-radius: 15px;
        height: 35px;
    }
    .sljedeci {
        background-color: rgb(72, 255, 66);
        color: black;
        float: right;
        border-radius: 15px;
        height: 35px;
    }
}