    body {
        margin-top: 17px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        background-color: rgb(236, 248, 253);
        width: 66vw;
        margin: auto;
    }
    
    .meni {
        background-color: lightblue;
        width: 66vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        position: relative;
        margin: auto;
        margin-top: 2.5rem;
    }
    
    .links {
        position: absolute;
        bottom: 0;
        font-size: 1.2rem;
    }
    
    .sadrzaj {
        margin-top: 2rem;
        height: 70vh;
        min-height: 520px;
        border: 2px solid royalblue;
        border-radius: 20px;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        background-color: blue;
    }
    
    .tabelaSala {
        margin: auto;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .headerSprat {
        color: black;
        background-color: #FBEEC1;
        width: 16%;
    }
    
    .headerRedni {
        color: black;
        width: 20%;
        background-color: #CAFAFE;
    }
    
    .sala {
        background-color: white;
    }
    
    .kancelarija {
        background-color: goldenrod;
    }
    
    .slobodnaSala {
        background-color: greenyellow;
    }
    
    .zauzetaSala {
        background-color: red;
    }
    
    .nevidljiva {
        visibility: hidden;
    }
    
    table,
    th,
    td {
        border: 1px solid royalblue;
        border-collapse: collapse;
    }
    
    tr {
        height: 40px;
    }
    
    .logo img {
        /* position: absolute; */
        left: 50%;
        top: 2.5%;
        transform: translateX(-50%);
        transition: translateY(-50%);
        transform: translateY(-50%);
        padding: 0px;
        margin: 0px;
        width: 100px;
        height: 55px;
    }
    /*  .logo img {
                        height: 5vh;
                        width: 5vw;
                    }
                    
                    .logo img {
                        position: absolute;
                        left: 50%;
                        top: 2.5%;
                        transform: translateX(-50%);
                        padding: 0px;
                        margin: 0px;
                        width: 100px;
                    }
                     */
    
    @media only screen and (max-width: 600px) {
        .links {
            display: flex;
            float: left;
            flex-direction: column;
            position: static;
        }
        .sadrzaj {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .meni {
            height: 110px;
        }
        .logo {
            margin-left: 100px;
        }
        .headerRedni {
            display: none;
        }
        .headerSprat {
            display: none;
        }
        .sala {
            width: 40px;
        }
    }