.meni {
    background-color: lightblue;
    width: 66vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;
    margin-top: 2.5rem;
}

.links {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}

body {
    background-color: rgb(236, 248, 253);
}

.logo img {
    /* position: absolute; */
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    transition: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 55px;
}

.forma {
    margin-top: 3rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    width: 66vw;
    margin: auto;
    margin-top: 1.5rem;
    background-color: skyblue;
}

.unos {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.labela {
    width: 130px !important;
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}

@media only screen and (max-width: 600px) {
    .unos {
        display: flex;
        flex-direction: column;
    }
    .inputPolje {
        width: 13rem;
    }
    .inputButton {
        width: 8rem;
    }
}