.galerija {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.galerija img {
  width: 150px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .galerija {
    grid-template-columns: auto;
  }
  .galerija img {
    transform: scale(0.8);
  }
}

@media (min-width: 780px) {
  .galerija {
    grid-template-columns: repeat(3, 1fr);
  }
}
