.sadrzaj label {
  width: 200px;
}

form input.check {
  width: 60px;
  padding-top: 3px;
}

.kalendar {
  margin-top: 30px;
  border: 2px solid #077fcf;
  background-color: #94d3fd;
}

.kalendar p {
  margin-left: 8px;
  font-weight: bold;
}

.kalendarDani {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.kalendarDani:nth-child(n) {
  margin: 5px;
}

.kalendarDani div {
  text-align: center;
  padding: 0px;
  margin: 5px;
  border: 3px solid #077fcf;
}

.kalendarDan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.kalendarPolja {
  margin: 5px;
}

.kalendarDan .brojSale {
  background-color: white;
}

.kalendarDan .status {
  height: 15px;
}

.kalendarDan .status.slobodno {
  background-color: rgb(0, 216, 0);
}

.kalendarDan .status.zauzeto {
  background-color: orangered;
}

.kalendarDan .salaKalendar {
  text-align: center;
  padding: 0px;
  margin: 5px;
  border: 3px solid #077fcf;
}

.kalendarDan hr {
  padding: 0;
  margin: 0;
  border: 1.5px solid #077fcf;
}

.kalendarNavigacija {
  width: 100%;
  display: inline-block;
}

.kalendarNavigacija .btn {
  width: 120px;
  padding: 15px;
  background-color: #066fb6;
  color: white;
  border-color: lightgray;
}

.kalendarNavigacija .prethodna {
  float: left;
}

.kalendarNavigacija .sljedeca {
  float: right;
}

@media (max-width: 600px) {
  .kalendar {
    overflow: auto;
  } /*
  .kalendarDani div {
    height: 36.3333px;
  }
  .kalendarDani,
  .kalendarPolja {
    float: left;
  } */
  .kalendarDan.w-600 {
    display: none;
  }

  .kalendarDani {
    grid-template-columns: auto;
    float: left;
  }

  .kalendarDani:nth-child(n) {
    margin: 0;
  }

  .kalendarDani div {
    width: 50px;
    height: 36.333px;
  }

  .kalendarDan {
    grid-template-columns: auto;
    grid-auto-flow: row;
    float: left;
  }

  .kalendarDan .salaKalendar {
    width: 50px;
  }

  /* broj_dana_ofset(.kalendarDani div + margina) + 7 */
  /* 4*(36.333 + 5) + 7*/
  .daniContainer .kalendarPolja .kalendarDan.prvi {
    margin-top: 208.6653px;
  }
}
