body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}

.meni {
  height: 80px;
  background-color: #719ece;
  margin-top: 50px;
  position: relative;
  border: 1px solid lightgreen;
  width: 100%;
}

.meni .logo {
  width: 100%;
  height: 50px;
  position: absolute;
}

.meni .logo img {
  background-color: #fe3f01;
  text-align: center;
  width: 50px;
  height: 50px;
  /* marigina 50% od height */
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.meni ul {
  position: absolute;
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0;
  bottom: 0;
}

.meni li {
  float: left;
  margin-left: 20px;
}

.meni li a {
  color: black;
}

.meni li a.aktivan {
  text-decoration: none;
}

.sadrzaj {
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-right: -5px;
  background-color: #719ece;
  border: 1px solid lightgreen;
}

.tabelaSala {
  margin: 0 auto;
  padding-top: 10px;
  border-spacing: 1px;
}

.tabelaSala td {
  outline: 1px solid gray;
}

td.prazno {
  outline: 0;
}

.headerSprat {
  background-color: lightgray;
  text-align: center;
  padding: 10px 10px 10px 10px;
  height: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid black;
  border-right: 1px solid white;
  border-left: 1px solid lightgreen;
  border-radius: 1px;
}

.headerSprat.sprat {
  padding: 10px 5px 5px 20px;
  border-bottom: 0px;
  border-left: 1px solid white;
  border-right: 1px solid black;
}

.headerRedni {
  background-color: lightblue;
  vertical-align: bottom;
  padding: 4px 4px 4px 4px;
  border-left: 1px solid white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid gray;
}

.headerRedni.redni {
  vertical-align: middle;
}

.sala {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 3px;
  border-top: 0px;
  border: 0.5px solid black;
}

.zauzetaSala {
  background-color: orange;
  border-left: 1px solid lightgreen;
  border-right: 1px solid lightgreen;
  border-bottom: 1px solid lightgreen;
}

.slobodnaSala {
  background-color: lightgreen;
}

.kancelarija {
  background-color: darkgray;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .meni li {
    float: none;
  }

  .meni ul {
    position: relative;
  }

  .meni {
    height: auto;
  }

  .headerRedni {
    display: none;
  }

  .headerSprat {
    display: none;
  }

  .sala {
    width: 40px;
  }
}
