form {
  padding: 20px;
}

label {
  display: inline-block;
  width: 130px;
}

.sadrzaj input {
  margin-top: 5px;
  width: 60%;
}

.sadrzaj .submit {
  width: 80px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  label {
    display: block;
  }
}
