
.meni {
  background: #33ccff;
  margin: 4em auto auto auto;
  max-width: 60em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4em;
  padding-bottom: 0.8em;
  position: relative;
  text-align: center;
}

.meni ul {
  font-size: 1.5em;
  list-style: none;
  padding-left: 0.5em;
  margin: 0 auto;
}

.meni li {
  list-style: none;
  display:inline;
  margin: 0 0 0 1em;
}

  
#trenutna {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
}

div.logo > img {
  position: relative;
  height: 100%;
  width: 100%;
}

.sadrzaj {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 19em);
  grid-gap: 1em; /* da sam stavio 1% overflow-alo bi ispod zadnje slike kada ctrl + +*/
  margin: 2em auto 10% auto;
  max-width: 60em;
}

.sadrzaj img {
  display: block;
  min-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 599px) {
  .meni ul {
    padding-left: 0;
  }

  .meni li {
    display: block;
    margin-left: 0;
  }
	
  .sadrzaj {
    grid-template-columns: repeat(1, calc(19em*0.8));
  }
  
  .meni ul {
    padding-left: 0;
  }

  .meni li {
    display: block;
    margin-left: 0;
  }

}