.meni {
  background: #33ccff;
  margin: 4em auto auto auto;
  max-width: 60em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4em;
  padding-bottom: 0.8em;
  position: relative;
  text-align: center;
}

.meni ul {
  font-size: 1.5em;
  list-style: none;
  padding-left: 0.5em;
  margin: 0 auto;
}

.meni li {
  list-style: none;
  display:inline;
  margin: 0 0 0 1em;
}

  
#trenutna {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
}

div.logo > img {
  position: relative;
  height: 100%;
  width: 100%;
}

.sadrzaj {
  background: pink;
  margin: 1em auto auto auto;
  max-width: 60em;
  padding-top: 1em;
}

form {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 1em;
  font-size: 1.2em;
  width: 50%;
  margin-right: 20%;
  margin-left: 30%;
  margin-bottom: 3%;
  margin-top: 2%;
}

#salaDropdown, #pocetak, #kraj {
  min-width: 75px;
  width: 50%;
}

#periodicna {
	max-height: 20px;
}

.kalendar {
  background: #33ccff;
  border: 0.2em solid #374FA6;
  padding: 5% 5% 0 5%;
  margin-bottom: 1%;
}

.mjesec {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 3%;
}

.daniUSedmici, .daniUMjesecu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.daniUMjesecu {
	/*grid-template-rows: 6em 6em 6em 6em 6em;*/
}

.daniUMjesecu div:first-child {
  grid-column: 5;
}

.daniUSedmici > div, .daniUMjesecu > div {
  border: 0.2em solid #374FA6;
  text-align: center;
  margin: 6%;
  font-size: 1.3em;
}

.daniUMjesecu > div {
  background: white;
  display: grid;
  grid-template-rows: 3fr 2fr;
}

.slobodna {
  background: green;
  border-top: 0.2em solid #374FA6;
}

.zauzeta {
  background: red;
  border-top: 0.2em solid #374FA6;
}

.navButton {
  background: #33ccff;
  border: 0.2em solid #374FA6;
  font-size: 1.3em;
  padding: 2% 4%;
  text-align: center;
  margin-bottom: 1%;
}

#sljedeciButton {
  float: right;
}


@media screen and (max-width: 599px) {
  .meni ul {
    padding-left: 0;
  }

  .meni li {
    display: block;
    margin-left: 0;
  }
  
  .kalendar {
	  text-align: center;
  }
	
  .daniUMjesecu div:nth-child(-n + 3) {
	display: none;
  }
	
  .daniUMjesecu div:nth-child(n + 11) {
	display: none;
  }
  
  .daniUSedmici, .daniUMjesecu {
	display: inline-block;
  }
  
  .daniUSedmici > div {
	  height: 108.538px;
	  margin-top: 10.1px;
	  width: 57.3396px;
  }
  
  .daniUMjesecu > div {
	  margin: 10.1px 4.1px 4.1px 50px;
	  height: 108.538px;
	  width: 57.3396px;
  }
  
  .daniUMjesecu > div > p {
	margin: 0;
  }
  
  .slobodna, .zauzeta {
	  display: block !important;
  }
  
  
  /*.daniUMjesecu {
	  float: right;
  }*/
  
  .navButton {
    /*clear: both;*/
  }
}