
.meni {
  background: #33ccff;
  margin: 4em auto auto auto;
  max-width: 60em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4em;
  padding-bottom: 0.8em;
  position: relative;
  text-align: center;
}

.meni ul {
  font-size: 1.5em;
  list-style: none;
  padding-left: 0.5em;
  margin: 0 auto;
}

.meni li {
  list-style: none;
  display: inline;
  margin: 0 0 0 1em;
}

#trenutna {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
}

div.logo > img {
  position: relative;
  height: 100%;
  width: 100%;
}

.sadrzaj {
    background: #33ccff;
	margin: 1em auto auto auto;
  max-width: 60em;
  padding-top: 1em;
  padding-bottom: 0.6em;
}

.tabelaSala {
	margin: 0 auto;
	width: 75%;
	border-collapse: collapse;
	border-spacing: 0;
}

#firstCell {
	visibility: hidden;
}

.tabelaSala .headerSprat {
	background-color: #ff4242;
	border: 1.5px solid #d4d4d4;
	padding: 1em;
}

.tabelaSala .headerRedni {
	background-color: #d6d6d6;
	border: 1.5px solid #adadad;
	padding-left: 0.4em;
	width: 20%;
}

.tabelaSala .sprat {
	text-align: right;
}

.redniNaslov {
	text-align: bottom;
	vertical-align: bottom;
}

th:first-child {
	text-align: left;
	border: 1.5px solid #black;
}

.sala {
	background-color: white;
	border: 1.5px solid #adadad;
	padding-left: 0.4em;
	vertical-align: top;
	height: 2.5em;
	width: 2.5em;
}

.sala.slobodnaSala {
	background-color: green;
}

.sala.zauzetaSala {
	background-color: #ffa500;
}

.sala.kancelarija {
	background-color: gray;
}


@media screen and (max-width: 599px) {
  .meni ul {
    padding-left: 0;
  }

  .meni li {
    display: block;
    margin-left: 0;
  }

  .headerSprat {
    display: none;
  }

  .headerRedni {
    display: none;
  }
}


