
.meni {
  background: #33ccff;
  margin: 4em auto auto auto;
  max-width: 60em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4em;
  padding-bottom: 0.8em;
  position: relative;
  text-align: center;
}

.meni ul {
  font-size: 1.5em;
  list-style: none;
  padding-left: 0.5em;
  margin: 0;
}

.meni li {
  list-style: none;
  display:inline;
  margin: 0 0 0 1em;
}

#trenutna {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 5em;
}

div.logo > img {
  position: relative;
  height: 100%;
  width: 100%;
}

.sadrzaj {
  background: #33ccff;
	margin: 1em auto auto auto;
  max-width: 60em;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
}

label {
  display: inline-block;
  text-align: left;
  width: 8em;
}

.labelInput label, input {
  vertical-align: middle;
}

.labelInput {
  margin-bottom: 0.8em;
}

#unosInput {
  margin-top: 1em;
  width: 15%;
}

@media screen and (max-width: 599px) {
  .meni ul {
    padding-left: 0;
  }

  .meni li {
    display: block;
    margin-left: 0;
  }
	
  label {
    display: block;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (max-width: 599px) {
  
}