<html>
    <head>
        <title>Galen Reports</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="galen-report.css"></link>
        <script src="vue.js"></script>
        <script src="galen-report.js"></script>
        <script>
        var REPORT_DATA = {
  "tests" : [ {
    "name" : "pocetna.gspec",
    "startedAt" : 1573593928738,
    "endedAt" : 1573593928886,
    "failed" : true,
    "statistic" : {
      "passed" : 0,
      "errors" : 1,
      "warnings" : 0,
      "total" : 1
    },
    "testId" : "1-pocetna.gspec",
    "duration" : 148,
    "exceptionStacktrace" : "java.lang.IllegalStateException: The path to the driver executable must be set by the webdriver.gecko.driver system property; for more information, see https://github.com/mozilla/geckodriver. The latest version can be downloaded from https://github.com/mozilla/geckodriver/releases\r\n\tat com.google.common.base.Preconditions.checkState(Preconditions.java:847)\r\n\tat org.openqa.selenium.remote.service.DriverService.findExecutable(DriverService.java:125)\r\n\tat org.openqa.selenium.firefox.GeckoDriverService.access$100(GeckoDriverService.java:43)\r\n\tat org.openqa.selenium.firefox.GeckoDriverService$Builder.findDefaultExecutable(GeckoDriverService.java:168)\r\n\tat org.openqa.selenium.remote.service.DriverService$Builder.build(DriverService.java:346)\r\n\tat org.openqa.selenium.firefox.FirefoxDriver.toExecutor(FirefoxDriver.java:168)\r\n\tat org.openqa.selenium.firefox.FirefoxDriver.<init>(FirefoxDriver.java:125)\r\n\tat org.openqa.selenium.firefox.FirefoxDriver.<init>(FirefoxDriver.java:111)\r\n\tat com.galenframework.browser.SeleniumBrowserFactory.getDriver(SeleniumBrowserFactory.java:100)\r\n\tat com.galenframework.browser.SeleniumBrowserFactory.createLocalBrowser(SeleniumBrowserFactory.java:94)\r\n\tat com.galenframework.browser.SeleniumBrowserFactory.openBrowser(SeleniumBrowserFactory.java:70)\r\n\tat com.galenframework.runner.GalenBasicTestRunner.runTest(GalenBasicTestRunner.java:73)\r\n\tat com.galenframework.tests.GalenBasicTest.execute(GalenBasicTest.java:55)\r\n\tat com.galenframework.TestRunnable.runTest(TestRunnable.java:75)\r\n\tat com.galenframework.TestRunnable.run(TestRunnable.java:101)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)\r\n\tat java.lang.Thread.run(Unknown Source)\r\n",
    "exceptionMessage" : "IllegalStateException: The path to the driver executable must be set by the webdriver.gecko.driver system property; for more information, see https://github.com/mozilla/geckodriver. The latest version can be downloaded from https://github.com/mozilla/geckodriver/releases",
    "failed" : true
  } ]
};
        </script>

    </head>
    <body>
        <div id="app">
            <div class="overview-table-wrapper">
                <div v-if="groups.length > 0">
                    <h4>Groups</h4>
                    <ul class="test-groups">
                        <li>
                            <span class="link" v-on:click="toggleAllGroups()">All</label>
                        </li>
                        <li v-for="(group, groupIndex) in groups">
                            <span v-if="selectedGroup !== group.name" class="link" v-on:click="toggleGroup(group.name)">{{group.name}}</span>
                            <span v-else>{{group.name}}</span>
                        </li>
                    </ul>
                </div>

                <table class="overview-table">
                    <thead>
                        <tr>
                            <th v-for="column in tableColumns" v-bind:class="{'sorted-column': sorting.columnField === column.field}">
                                <span class="link" v-on:click="sortTable(column)">{{column.name}}</span>
                                <span class="sorting-icon"
                                    v-if="sorting.columnField === column.field"
                                    v-bind:class="[sorting.order === 1 ? 'sorting-down' : 'sorting-up']"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="test in tests" v-if="test.show">
                            <td v-for="column in tableColumns" v-bind:class="['cell-' + column.field]">
                                <div v-if="column.field === 'name'">
                                    <a class="link" v-bind:href="test.testId + '.html'">{{test.name.value}}</a>
                                </div>
                                <div v-else>{{test[column.field].value}}</div>
                            </td>
                            <td>
                                <table class="progress-bar">
                                    <tbody>
                                        <tr>
                                            <td class="bar-passed"
                                                v-bind:style="{width: test.progress.passed + '%'}"
                                                v-bind:class="{hidden: test.progress.passed < 0.5}"></td>
                                            <td class="bar-failed"
                                                v-bind:style="{width: test.progress.failed + '%'}"
                                                v-bind:class="{hidden: test.progress.failed < 0.5}"></td>
                                            <td class="bar-warning"
                                                v-bind:style="{width: test.progress.warning + '%'}"
                                                v-bind:class="{hidden: test.progress.warning < 0.5}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>renderTestOverviewReport(REPORT_DATA);</script>
    </body>
</html>
