@media only all and (min-width: 1000px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: fit-content;
  }
  .btn {
    background: lightslategray;
    border: 2px solid lightseagreen;
    padding: 10px;
  }
  .prethodni {
    float: left;
  }
  .sljedeci {
    float: right;
  }
  .sadrzaj {
    background: lightblue;
    display: block;
    height: fit-content;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  .meni li {
    display: inline-block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }
  .slika {
    width: 100%;
    overflow: hidden;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 15px;
    height: fit-content;
  }

  .grid-element {
    height: 300px;
    overflow: hidden;
    position: relative;
    flex-basis: 30%;
  }

  .grid-element img {
    display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
}
@media only all and (min-width: 600px) and (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  .grid-element {
    height: 300px;
    overflow: hidden;
    position: relative;
    flex-basis: 100%;
  }

  .grid-element img {
    display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    min-height: 100%;
  }

  .sadrzaj {
    background: lightblue;
    display: block;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: 400px;
  }
  .meni li {
    display: inline-block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }
  .slika {
    overflow: hidden;
  }
  .btn {
    background: lightslategray;
    border: 2px solid lightseagreen;
    padding: 10px;
  }
  .prethodni {
    float: left;
  }
  .sljedeci {
    float: right;
  }
}
@media only all and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  .grid-element {
    height: 300px;
    overflow: hidden;
    position: relative;
    flex-basis: 100%;
  }

  .grid-element img {
    display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    min-height: 100%;
  }

  .sadrzaj {
    background: lightblue;
    display: block;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  .meni li {
    display: block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }
  .slika {
    overflow: hidden;
  }
  .btn {
    background: lightslategray;
    border: 2px solid lightseagreen;
    padding: 10px;
  }
  .prethodni {
    float: left;
  }
  .sljedeci {
    float: right;
  }
}
