@media only all and (min-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .sadrzaj {
    height: 100%;
    background: lightblue;
    flex: 0 1 auto;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: inline-block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }

  .form-group {
    margin: auto;
    padding: 5px;
    width: fit-content;
    min-width: 350px;
  }
  @-moz-document url-prefix() {
    .form-group {
      margin: auto;
      padding: 5px;
      width: -moz-fit-content;
      min-width: 350px;
    }
  }
  label {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    float: left;
  }
  .input-field {
    width: 200px;
  }
  .debug {
    border: 1px solid red;
  }
  .kalendar {
    max-width: 450px;
    min-width: 450px;
    margin: auto;
  }

  #vanjska {
    margin: 20px auto;
    border-spacing: 10px;
    table-layout: fixed;
    width: 100%;
  }
  #vanjska #mjesec {
    text-align: left;
    padding-bottom: 20px;
    font-weight: 900;
  }
  .unutrasnja .datum {
    height: fit-content;
  }
  #vanjska,
  .dan {
    border: 2px solid rgb(60, 82, 129);
    padding: 0 5px;
  }

  .unutrasnja {
    border: 2px solid rgb(60, 82, 129);
    border-collapse: collapse;
    width: 100%;
  }
  #vanjska td {
    margin: 5px;
  }
  .unustrasnja .datum,
  .slobodna,
  .zauzeta {
    border: 2px solid rgb(36, 54, 94);
  }
  .unutrasnja .datum {
    text-align: center;
    background: white;
    width: 100%;
    top: 0;
    height: fit-content;
  }
  .slobodna {
    height: 10px;
    bottom: 0;
    background: rgb(33, 241, 33);
  }
  .zauzeta {
    height: 10px;
    bottom: 0;
    background: coral;
  }
  .btn {
    background: lightslategray;
    border: 2px solid lightseagreen;
    padding: 10px;
  }
  .prethodni {
    float: left;
  }
  .sljedeci {
    float: right;
  }
}
@media only all and (max-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }
  .sadrzaj {
    height: 100%;
    background: lightblue;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }

  .forma {
    width: min-content;
    margin: 0 auto;
  }
  .form-group {
    margin: auto;
    padding: 5px;
    width: fit-content;
  }
  label {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    float: left;
  }
  .input-field {
    width: 200px;
  }
  .debug {
    border: 1px solid red;
  }
  .kalendar-wrapper {
    margin: 10px auto;
    width: fit-content;
  }
  @-moz-document url-prefix(){
    .kalendar-wrapper {
      margin: 10px auto;
      width: -moz-fit-content;
    }
  }
  .kalendar {
    display: block;
    margin: 0 auto;

  }
  .dan {
    margin: 14px 0;
    width: 45px;
    vertical-align: middle;
  }

  .sedmica {
    float: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);

  }
  #druga-sedmica {
    display: grid;
    grid-column: 2;
    width: 50px;
    margin: auto 0;
  }
  .red-mjesec,
  #prva-sedmica,
  #treca-sedmica,
  #cetvrta-sedmica,
  #peta-sedmica {
    display: none;
  }

  table {
   width: 100%;
  }
  #vanjska #mjesec {
    text-align: left;
    padding-bottom: 20px;
    font-weight: 900;
  }
  .datum {
    height: fit-content;
  }
  #vanjska,
  .dan {
    border: 2px solid rgb(60, 82, 129);
    padding: 0 5px;
  }

  .unutrasnja {
    border: 2px solid rgb(60, 82, 129);
    border-collapse: collapse;
    width: 100%;
    display: table;
  }
  #vanjska td {
    margin: 5px;
  }
  .unustrasnja .datum,
  .slobodna,
  .zauzeta {
    border: 2px solid rgb(36, 54, 94);
  }
  .datum {
    text-align: center;
    background: white;
    width: 100%;
    top: 0;
    height: fit-content;
  }
  .slobodna {
    height: 10px;
    bottom: 0;
    background: rgb(33, 241, 33);
  }
  .zauzeta {
    height: 10px;
    bottom: 0;
    background: coral;
  }
  .btn {
    background: lightslategray;
    border: 2px solid lightseagreen;
    padding: 10px;
  }
  .prethodni {
    float: left;
  }
  .sljedeci {
    float: right;
  }
 
}
