@media only all and (min-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .sadrzaj {
    height: 100%;
    background: lightblue;
    flex: 0 1 auto;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: inline-block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }

  .tabelaSala {
    border-collapse: collapse;
    margin: auto;
    position: relative;
    top: 10px;
  }
  th,
  td {
    border: 1px solid rgb(207, 202, 202);
  }
  .headerSprat {
    background: rgb(73, 73, 73);
  }
  .headerRedni {
    background: rgb(197, 197, 197);
  }
  td {
    background: whitesmoke;
  }
  .emptyCell {
    border: none;
  }
  .sala {
    padding: 10px;
  }
  .slobodnaSala {
    background: green;
  }
  .zauzetaSala {
    background: orange;
  }
  .kancelarija {
    background: grey;
  }

  .debug {
    border: 1px solid red;
  }
}
@media only all and (max-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }
  
  .sadrzaj {
    height: 100%;
    background: lightblue;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }

  .tabelaSala {
    border-collapse: collapse;
    margin: auto;
    position: relative;
    top: 10px;
  }
  #cellSpratovi{
    visibility: hidden;
    border: none;
  }
  #cellRedni{
    visibility: hidden;
    border: none;
}
  th,
  td {
    border: 1px solid rgb(207, 202, 202);
  }
  .headerSprat {
    background: rgb(73, 73, 73);
  }
  .headerRedni {
    background: rgb(197, 197, 197);
  }
  td {
    background: whitesmoke;
  }
  .emptyCell {
    border: none;
  }
  .sala {
    padding: 10px;
  }
  .slobodnaSala {
    background: green;
  }
  .zauzetaSala {
    background: orange;
  }
  .kancelarija {
    background: grey;
  }

  .debug {
    border: 1px solid red;
  }
}
