@media only all and (min-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }

  .sadrzaj {
    height: 100%;
    background: lightblue;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: inline-block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }
  .forma {
    width: 50%;
    margin: 0 auto;
  }
  .form-group {
    margin: auto;
    padding: 5px;
    width: fit-content;
    min-width: 350px;
  }
  @-moz-document url-prefix() {
    .form-group {
      margin: auto;
      padding: 5px;
      width: -moz-fit-content;
      min-width: 350px;
    }
}
  
  label {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    float: left;
  }
  .debug {
    border: 1px solid red;
  }
}
@media only all and (max-width: 600px) {
  .meni {
    margin-top: 50px;
    background: lightblue;
    margin-bottom: 5px;
  }
  html,
  body {
    height: 100%;
  }

  .sadrzaj {
    height: 100%;
    background: lightblue;
  }
  .logo {
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 50px;
  }
  .meni ul {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    min-width: fit-content;
  }
  .meni li {
    display: block;
    padding: 0 5px;
  }
  .meni a {
    color: black;
  }
  .active {
    text-decoration: none;
  }
  .forma {
    width: 50%;
    margin: 0 auto;
  }
  .form-group {
    margin: auto;
    padding: 5px;
    width: fit-content;
  }
  label {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    float: left;
  }
  .debug {
    border: 1px solid red;
  }
}
