body {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	font-size: 14px;
}

.meni {
	background-color: #729fcf;
	border: 1px solid lightgreen;
	text-align: center;
}

.meni ul {
	padding: 0 1%;
}

.meni li {
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

.meni a {
	color: black;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
	border-style: outset;
	border-color: black;
	margin-top: -40px;
}

#sadrzaj_wrapper {
	background-color: #729fcf;
	border: 1px solid lightgreen;
	text-align: center;
	margin-top: 0.5em;
	padding: 1em;
}

.sadrzaj img {
	vertical-align: middle;
	padding: 0.25em;
	margin: auto;
	width: 31vw;
	height: auto;
}

@media only screen and (max-width: 600px) {
	.meni li {
		display: block;
	}

	.sadrzaj {
		display: inline-grid;
	}

	.sadrzaj img {
		max-width: 80%;
		height: auto;
	}
}