/*background element*/
.okvir {
  position: relative;
  z-index: 0;
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  height: 100%;
  width: 100%;
}

/*uredjenje gornjeg dijela stranice (meni i logo)*/
.logo {
  margin-top: 0%;
  z-index: 1;
  width: 65%;
  text-align: center;
 position: relative;
}

.htmlslika {
  top: 75px;
  display: table-cell;
   width:150px; 
  height:150px;
  margin: 0 auto;
  position: relative; 
}

.meni {
     
  background: #74afdb;
      height: 100pt;
      width: 65%;
      position: relative;
      text-align: center;
}

.meni  ul {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  margin-bottom: 1%; 
  margin-left: 3%;
}

.meni  ul  li {
      display: inline-block;
      padding-right: 35px; 
      font-size: 150%;
}

/*uklanjam podvlaku kod linka*/
.bezPodvlake {
  text-decoration: none;
 
}

a {
  color: black;
}


/*uredjenje sadrzaja*/
.sadrzaj {
margin-top: 1%;
float: left;
width : 65%;
height: 500pt;
background: #74afdb;
}

.sadrzaj  h2 {
 margin-left: 1%;
 margin-top: 5%;
}

.sadrzaj  p {
margin-right: 2%;
margin-left: 1%;
}

/*centriraju se slike*/
.sadrzaj .slike {
   margin-left: 15%;
  } 

/*postavljanje fiksne velicine na slikama*/
  .slike img {
    width: 150px;
    height: 150px;
  }

 .slike {
   margin-top: 1%;
   display: grid;
   grid-gap: 1em;
   align-items: center;
   grid-template-columns: repeat(3, 150px);
 }
  
  /* Responsive layout */
  @media only screen and (max-width: 865px) {
      .slike {
        grid-template-columns: repeat(2, 150px);
      
      }
       /*uvecava se sadrzaj tako da slike ne ispadaju van sadrzaja*/
    .sadrzaj {
      height: 750pt;
    }
      .meni  ul  li {
        font-size: 100%
      }
  }
  
  @media only screen and (max-width: 600px) {
    .sadrzaj .slike {
      margin-left: 25%;
     } 

    .meni  ul {
      position: absolute;
       bottom: 0;
       list-style-type: none;
      text-align: center;
   }
   
   .meni  ul  li {
       display: list-item; 
       font-size: 70%;
   }

  .slike {
  grid-template-columns : repeat(1,150px);
  }
   /*uvecava se visina sadrzaja tako da slike ne ispadaju van sadrzaja*/
  .sadrzaj {
  height : 1250pt;
  }
   /*scale za razlicite browsere*/
  .sadrzaj ul li {
  font-size : 50%;
  }
  .slike img {
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.8); /* FF3.5+ */
  -ms-transform: scale(0.8); /* IE9 */
  -o-transform: scale(0.8); /* Opera 10.5+ */
  transform : scale(0.8);
  }
  }
  
  

          